.modal-pop-c {
    width: fit-content;
    background-color: transparent;
    border: none;
}

.modal-header {
    position: relative;
    color: white;
    bottom: -59px;
    z-index: 1;
    border-bottom: none;
    justify-content: center;
}

.modal-header>h5 {
    font-size: 1.5rem;
}

.btn-close {
    position: relative;
    right: 6px;
    top: 5px;
}

.btn-close:hover {
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .modal-body img {
        width: 100% !important;
    }
}